/*Link de fuentes: como mucho 2 fuentes se recomienda*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Selector universal*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /*para "suavizar" el paso*/
  background-color: #f5f5f5;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: black;
  padding: 1rem 1rem;
  line-height: 1.5;
  max-width: 900px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 900px;
  margin-inline: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  color: #2caf20;
}

p {
  margin-bottom: 15px;
}

h2 {
  margin: 1px 1px;
}

button {
  padding: 8px;
  margin-right: 7px;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: .5px solid black;
  /* border: 2px solid #2caf20; */
  font-weight: bold;
  /* color: #2caf20; */
}

button:hover {
  background: #2caf20;
  color: white;
  border: 1px solid #2caf20;

}

.logo {
  font-size: 17px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 17px;
}

.nav-links a {
  color: black;
  font-weight: 17px;
  position: relative;
  font-weight: bold;
  display: inline-block;
  /* Necesario para aplicar transform */
}

.nav-links a:hover {
  color: #2caf20;
  transform: scale(1.1);
  /* Agranda 10% */
}

/************************* HASTA ACA LA CABECERA ******************************/

.hero {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 60px;
}

.imagen-hero img {
  width: 100%;
  /* ocupará el 100% del div que ya tiene 45% del padre */
  max-width: 250px;
  /* límite máximo para que no se agrande demasiado */
  border-radius: 50%;
  border: 2px black solid;
  outline: 2px black solid;
  outline-offset: 5px;
  /* Más negativo = líneas más juntas */

}

.texto-hero {
  border-radius: 5px solid black;
  width: 45%;
  line-height: 2;
}

.h1-hero {
  font-size: 65px;
  display: block;
  line-height: 1.1;
  margin-bottom: 60px;
}

/************************* HASTA ACA HERO ******************************/

.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  display: flex;
  flex-direction: column;

}

@media (min-width: 600px) {
  .proyectos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenedorProyectos {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

}

.tarjeta {
  background: #f5f5f5;
  padding: 1rem;
  flex: 1 1 calc(33.333% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: black solid; */
}

.tarjeta h4,
.tarjeta a {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.tarjeta p {
  max-width: 200px;
  height: 180px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.tarjeta a:hover {
  color: #2caf20;
  font-weight: bold;
}

.tarjeta p:hover {
  background: #2caf20;
  color: white;
  border: 1px solid #2caf20;
  border-radius: 4px;
}

/************************* HASTA ACA PROYECTOS ******************************/
.experiencia {
  background-color: #f5f5f5;
  margin-bottom: 60px;
  margin-top: 15px;

}

.gridExperiencia {
  border: black solid;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;

}

.grid:hover {
  background: #2caf20;
  color: white;
  border: 1px solid #2caf20;
  border-radius: 4px;
}

.grid div {
  background: withe;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/************************* HASTA ACA EXPERIENCIA ******************************/

.contenedorHabilidades {
  display: flex;
  /*Los pone uno al lado del otro*/
  gap: 20px;
  /* Espacio entre cajas */
  flex-direction: column;
  justify-content: space-between;
  /* Centra todo horizontalmente */
}

.habilidades {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: white;


}

/************************* HASTA ACA HABILIDADES ******************************/

.miHistoria {
  background-color: #f5f5f5;
  margin-bottom: 60px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.miHistoria h2 {
  padding-bottom: 15px;
}

/************************* HASTA ACA MI HISTORIA ******************************/
.contacto {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  border: black solid 1px;
}

.contacto form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

.contacto input,
.contacto textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.contacto button {
  background: rgb(252, 252, 252);
  color: black;
  border: #b6b6b6 solid 2px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.contacto button:hover {
  background: #2caf20;
  color: white;
  border: 1px solid #2caf20;
}

/************************* HASTA ACA FORMULARIO ******************************/


footer {
  background-color: #f5f5f5;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}


.arriba {
  display: flex;
  margin-bottom: 20px;
}

.pie {
  /* border: black solid; */
  display: flex;
  text-align: center;
  width: 75%;
}

.enlaceFooter {
  display: flex;
  align-items: center;
  gap: 17px;
}

.enlaceFooter a {
  color: black;
  font-weight: 17px;
  position: relative;
  font-weight: bold;
  display: inline-block;
}

.enlaceFooter a:hover {
  color: #2caf20;
  transform: scale(1.1);
}

.redes {
  display: flex;
  justify-content: end;
  width: 50%;
}

.redes img {
  width: 25px;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.redes img:hover {
  transform: scale(1.1);
}

.abajo {
  display: flex;
}

.botones {
  /* border: black solid; */
  width: 50%;
}

.copy {
  /* border: red solid; */
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
}

/********************************************************************/